body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 0%, 7%);
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  position: fixed;
  top: 0%;
  background-color: hsl(0, 0%, 7%);
  color: white;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 16px;
}

.zapros, .zapros_icon_tia, .zapros_input_line, .zapros_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zapros_input_line {
  width: 484px;
  padding: 0px;
  border: 0px;
  height: 24px;
  background-color: hsl(0, 0%, 7%);
  color: #AAAAAA;
  font-size: 15px;
}
.zapros_input_line:focus {
  outline: none;
}
.zapros_icon_tia {
  width: 27px;
  height: 27px;
  padding: 0px 4px;
}

.section_search {
  width: 64px;
  height: 40px;
  background-color: hsl(0, 0%, 18.82%);
  border: 1px solid hsl(0, 0%, 18.82%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_search {
  width: 24px;
  height: 24px;
}

.search_all {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 40px;
  padding: 0px 0px 0px 16px;
  background-color: hsl(0, 0%, 7%);
  height: 40px;
}

.youtube {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 169px;
}

.youtube__list {
  padding: 8px;
  width: 24px;
  height: 24px;
  fill: white;
}

.youtube__icon {
  fill: white;
  height: 20px;
  width: 93px;
  padding: 18px;
}

.section_micro {
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 18.82%);
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_micro:hover {
  border: 1px solid white;
}

.icon_micro {
  width: 25px;
  height: 25px;
}

.order {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section_creat {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  gap: 5px;
}

.creat {
  width: 111px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  background-color: hsl(0, 0%, 18.82%);
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 40px;
}
.creat:hover {
  border: 1px solid white;
}

.notify {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notify_icon {
  width: 27px;
  height: 27px;
}

.my_icon {
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.section_my_icon {
  padding: 0px 40px 0px 0px;
}

.main {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-top: 56px;
}

.home {
  width: 120px;
  position: fixed;
  background-color: hsl(0, 0%, 7%);
  left: 0%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__line {
  width: 24px;
  padding: 16px 24px;
}
.home__line-el {
  color: white;
  width: 24px;
  height: 24px;
}
.home__line-el:hover {
  color: #AAAAAA;
  width: 24px;
  height: 24px;
}

.video_card {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  padding: 20px 0px;
}

.video {
  width: 450px;
  height: 400px;
}
.video__img {
  width: 450px;
  height: 281px;
  border-radius: 10px;
}

.description-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.video_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descript {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.channel {
  color: #AAAAAA;
  font-size: 14px;
}

.video_views {
  color: #AAAAAA;
  font-size: 14px;
}

.video_menu {
  fill: white;
  height: 24px;
  width: 24px;
}

.block {
  position: fixed;
  background-color: hsl(0, 0%, 7%);
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.block__icon {
  color: white;
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsl(0, 0%, 18.82%);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.block__icon:hover {
  color: hsl(0, 0%, 18.82%);
  border: 1px solid white;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */