$base_color: hsl(0,0%,7%);
$text_color: white;
$gray_color: hsl(0, 0%, 18.82%);
$gray_text: #AAAAAA;



@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin hover{
    &:hover{
        border: 1px solid $text_color;
    }
}

//==========================================================================
body{
    font-family: 'Roboto', sans-serif;
    background-color: $base_color;
    margin: 0px;
}
//==========================================================================
a{
    text-decoration: none;
    color: white;
}

//==========================================================================
//header

.header{
    position: fixed;
    top: 0%;
    background-color: $base_color;
    color: $text_color;
    width: 100%;
    height: 56px;
    @include flex-row();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 16px;
}
//-------------------------------------------------------------
.zapros{
    @include flex-center();

    &_input{
        @extend .zapros;
        &_line{
            @extend .zapros;
            width: 484px;
            padding: 0px;
            border: 0px;
            height: 24px;
            background-color: $base_color;
            color: $gray_text;
            font-size: 15px;
            &:focus{
                outline: none;
            }
        }
    }
    &_icon_tia{
        @extend .zapros;
        width: 27px;
        height: 27px;
        padding: 0px 4px;
    }
}

.section_search{
    width: 64px;
    height: 40px;
    background-color: $gray_color;
    border: 1px solid $gray_color;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @include flex-center();
}
.icon_search{
    width: 24px;
    height: 24px;
}


.search_all{
    @include flex-center();
    @include flex-row();
    border: 1px solid $gray_color;
    border-radius: 40px;
    padding: 0px 0px 0px 16px;
    background-color: $base_color;
    height: 40px;

}

//--------------------------------------------------------
//Icon youtube
.youtube{
    @include flex-row();
    @include flex-center();
    height: 56px;
    width: 169px;
    
}
.youtube__list{
    padding: 8px;
    width: 24px;
    height: 24px;
    fill: $text_color;
}
.youtube__icon{
    fill: $text_color;
    height: 20px;
    width: 93px;
    padding: 18px;
}
//-----------------------------------------------
//micro
.section_micro{
    width: 40px;
    height: 40px;
    background-color: $gray_color;
    border: 1px solid $gray_color;
    border-radius: 20px;
    @include flex-center();
    @include hover();
}

.icon_micro{
    width: 25px;
    height: 25px;
}

.order{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


//------------------------------------------------
//creat
.section_creat{
    @include flex-row();
    @include flex-center();
    height: 56px;
    gap: 5px;
}

.creat{
    width: 111px;
    height: 36px;
    @include flex-center();
    color: $text_color;
    font-size: 15px;
    background-color: $gray_color;
    border: 1px solid $gray_color;
    border-radius: 40px;
    
    @include hover();
}



.notify{
    width: 40px;
    height: 40px;
    @include flex-center();
}

.notify_icon{
    width: 27px;
    height: 27px;
}

.my_icon{
    width: 32px;
    height: 32px;
    border-radius: 20px;
}
.section_my_icon{
    padding: 0px 40px 0px 0px;
}
//====================================================
.main{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 56px;
}

.home{
    width: 120px;
    position: fixed;
    background-color: $base_color;
    left: 0%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__line{
        width: 24px;
        padding: 16px 24px;

        &-el{
            color: $text_color;
            width: 24px;
            height: 24px;
        }

        &-el:hover{
            color: $gray_text;
            width: 24px;
            height: 24px;
        }
    }
}


//-----------------------------------------------------
//main video

.video_card{
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: $text_color;
    padding: 20px 0px;
}

.video{
    width: 450px;
    height: 400px;

    &__img{
        width: 450px;
        height: 281px;
        border-radius: 10px;
    }
}


.description-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    
}

.video_description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descript{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.channel{
    color: $gray_text;
    font-size: 14px;
}
.video_views{
    color: $gray_text;
    font-size: 14px;
}

.video_menu{
    fill: $text_color;
    height: 24px;
    width: 24px;   
}

//=======================================
//block_icon

.block{
    position: fixed;
    background-color: $base_color;
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &__icon{
        color: $text_color;
        border: 1px solid $gray_color;
        background-color: $gray_color;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
    }
    &__icon:hover{
        color: $gray_color;
        border: 1px solid $text_color;
        background-color: $text_color;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
    }
}
